<div class="container-fluid">
  <navbar></navbar>  
  <div class="content">
    <div class="slider-inicial">
      <div class="row">
        <div class="div-busca">
            <h4 >Encontre e Agende clínicas de saúde.<br>A qualquer hora, de qualquer lugar.</h4>
            <form action="/html/tags/html_form_tag_action.cfm">
              <div class="form-group card-text">
                <label for="first_name" class="sr-only">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Selecione o bairro, cidade ou estado">
              </div>
              <div class="form-group">
                <label for="last_name" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Selecione a Especialidade">
              </div>
              <div class="form-group">
                <label for="last_name" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Selecione a Clínica">
              </div>
              <button type="submit" class="btn btn-default btn-buscar">Buscar</button>
            </form>                        
         </div>
      </div>
    </div>
  </div>  
</div>